{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}{% endblock %}
{% block contentPage %}
	<h3 class="text-center text-secondary">Ajouter une note</h3>
	{% block page_contents %}


		{# this form theme will be applied only to the form of this template #}
		<div class="container  my-5 w-50 p-3">
			<div class="row">
				{{ form_start(form) }}


				{{ form(form) }}
					{{ form_end(form) }}
				</div>
			</div>
		{% endblock %}
	{% endblock %}
