{% extends "base.html.twig" %}

{% block title %}Ajouter un prof
{% endblock %}
{% block body %}


<div class="container mt-5">
	<div class="card " style="width: 28rem;">
		<div>
			<h5 class="card-title">Ajouter Prof</h5>
			<div class="card-body">

				{{ form(form) }}

				</div>
			</div>
		</div>
	</div {% endblock %}
