{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
	<div class="container">
		<div class="col-sm-6 mt-5 mx-auto">
			<div class="card w-75 ">

				<h5 class="card-header">
					Ajouter un  professeur
				</h5>
				<div class="card-body">
					<label for="inputPassword5" class="form-label">
						{{ form(form) }}
						</label>
					</div>
				</div>
			</div>
		</div>


	{% endblock %}
