{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}

{% block contentPage %}
	{% block page_contents %}
		{# <h1 class="text-info">Page d'accueil</h1> #}

		{# style="background-image: url('images/IMAGE.jpg'); height: 100vh;" #}<div class="backgroundimage"> </div>

		{# <img src="images/IMAGE.jpg" alt=""></div> #}

	{% endblock %}
{% endblock %}
