{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}
{% block contentPage %}

	<div class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('images/IMAGE.jpg'); height: 100vh;">
		<h1 class="text-white">Page d'accueil</h1>
	</div>

{% endblock %}
