{% extends "base.html.twig" %}

{% block title %}Modifie etudiant
{% endblock %}
{% block body %}

	<div class="col-sm-6 my-3">
		<div class="card w-75 ">
			<h5 class="card-header">
				modifier etudiant
			</h5>
			<div class="card-body">
				<label for="inputPassword5" class="form-label">
					{{ form(form) }}
					</label>
				</div>
			</div>
		</div>

	{% endblock %}
