{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
	<div class="row my-5">
		<div class="col-md-8 mx-auto ">
			<div class="card text-start|center|end">
				<table class="table ">


					<thead>
						<tr>
							<th>Id</th>
							<th>Groupe</th>


						</tr>
					</thead>
					<tbody>
						{% for groupe in groupes %}
							<tr>
								<td scope="row">{{groupe.id}}</td>

								<td>{{groupe.nom}}</td>

							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
