{% extends "base.html.twig" %}

{% block title %}{% endblock %}


{% block contentPage %}
	<h3 class="text-muted fw-bold text-center">Groupes</h3>
	{% block page_contents %}

		<div class="container mt-5">

			<div class="row">
				<div class="col">

					<table id="dataGroupe" class=" table table-hover table-success table-striped" style="width:100%">


						<thead>
							<tr class="text-muted">
								<th>Id</th>
								<th>Groupe</th>
								<th>Voir</th>

							</tr>
						</thead>
						<tbody>
							{% for groupe in groupes %}
								<tr>
									<td scope="row">{{groupe.id}}</td>

									<td>{{groupe.nom}}</td>


									<td>
										<a href="{{path('groupe_show',{id: groupe.id})}}" class="btn btn-sm ">
											<i class="fa fa-eye"></i>
										</a>
									</td>
									{# <td>{{groupe.nom}}</td> #}

								{% endfor %}
							</tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
$('#dataGroupe').DataTable();
});
		</script>

	{% endblock %}
{% endblock %}
